
# Created by https://www.gitignore.io/api/codeigniter
# Edit at https://www.gitignore.io/?templates=codeigniter

### CodeIgniter ###
*/config/*
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
!application/config/*
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

### CodeIgniter Patch ###

#VSCODE
.vscode/
appspec.yml
bitbucket-pipelines.yml
devops/start.sh

#IDEs
.idea
.fleet
.settings
