<!-- Vendedores_Titulo -->
<link href="./{tpldir}/css/estilos.css" rel="stylesheet" type="text/css" />
<h2>{Vendedores_Titulo}</h2>

<!-- Vendedores_SubTitulo -->
<h3><u>Vendedor(a)</u>: {Vendedores_SubTitulo_Id} - {Vendedores_SubTitulo_Nome}</h3>

<!-- Vendedores_Acao -->
<script type="text/javascript">

function acao(com,grid)
{

	switch(com){
		case "Cadastrar":
	       	$.post("includes/incAcao.php",
	       		{
	           		acao: "CADASTRO_CADASTRAR",
	           		tipo: 2,
	           		id: ""
				},
				function(data){
					$('#conteudo').html(data);
				});
			break;

		case "Editar":
				if($('.trSelected',grid).length>0){
			    	var items = $('.trSelected',grid);
			    	var id = items[0].cells[0].children[0].innerHTML;
			       	$.post("includes/incAcao.php",
			       		{
							acao: "CADASTRO_EDITAR",
							tipo: 2,
			           		id: id
						},
						function(data){
							$('#conteudo').html(data);
						});
				}				
				break;

		case "Bloquear":
				if($('.trSelected',grid).length>0){
			    	var items = $('.trSelected',grid);
			    	var id = items[0].cells[0].children[0].innerHTML;
			    	var nome = items[0].cells[1].children[0].innerHTML;
			       	$.post("includes/incAcao.php",
			       		{
							acao: "CADASTRO_BLOQUEAR",
							tipo: 2,
			           		id: id,
			           		nome: nome,
			           		status: 0
						},
						function(data){
							if (data == "ok"){
								alert("Bloqueio realizado com sucesso!!");
								$.get('includes/Cadastros/incCadastrosVendedoresLista.php', function(data) {		    	
							        $('#conteudo').html(data);
							    });
							}
							else{
								alert("NÃO foi possível realizar o Bloqueio.\nPor favor tente novamente.");
							}
						});
				}				
				break;

		case "Desbloquear":
			if($('.trSelected',grid).length>0){
		    	var items = $('.trSelected',grid);
		    	var id = items[0].cells[0].children[0].innerHTML;
		    	var nome = items[0].cells[1].children[0].innerHTML;
		       	$.post("includes/incAcao.php",
		       		{
						acao: "CADASTRO_DESBLOQUEAR",
						tipo: 2,
		           		id: id,
		           		nome: nome,
		           		status: 1
					},
					function(data){
						if (data == "ok"){
							alert("DESBloqueio realizado com sucesso!!");
							$.get('includes/Cadastros/incCadastrosVendedoresLista.php', function(data) {		    	
						        $('#conteudo').html(data);
						    });
						}
						else{
							alert("NÃO foi possível realizar o DESBloqueio.\nPor favor tente novamente.");
						}
					});
			}				
			break;						
	}
		
}

</script>

<!-- Vendedores_Formulario_Cadastro_INICIO -->
<script type="text/javascript" src="{tpldir}/js/ui/ui.draggable.js"></script>
<script type="text/javascript" src="{tpldir}/js/ui/ui.resizable.js"></script>
<script type="text/javascript" src="{tpldir}/js/ui/ui.dialog.js"></script>
<script type="text/javascript" src="js/external/bgiframe/jquery.bgiframe.js"></script>
<script type="text/javascript" src="{tpldir}/js/maskedinput/maskedinput-1.3.js"></script>
<script type="text/javascript">
	function msg(id,msg){
		
		$(".ui-dialog-title").html("");
		
		switch(id){
			case 'erro': $("#aviso").attr("title","Erro");
						 $(".ui-dialog-title").html("Erro");
						 var img = '<span class="ui-icon ui-icon-alert"'+
						 'style="float:left; margin:0 7px 20px 0;"></span>';
						 break;
			case 'sucesso': $("#aviso").attr("title","Sucesso");
							$(".ui-dialog-title").html("Sucesso");
							var img = '<span class="ui-icon ui-icon-circle-check"'+
							 'style="float:left; margin:0 7px 20px 0;"></span>';
							break;
		}
		
		$(".msg").html(img+msg);
		
		$("#aviso").dialog('open');
		
		$("#aviso").dialog({
			bgiframe: true,
			resizable: false,
			autoOpen: false,
			height:210,
			modal: true,
			overlay: {
				backgroundColor: '#000',
				opacity: 0.5
			},
			buttons: {
				OK: function() {
					$(this).dialog('close');
				}
			}
		});
	}

	function retorno(data){ 
		
		switch(data){
			case "cadastrado":
				msg("sucesso","Vendedor(a) CADASTRADO(A) com sucesso!");
			break; 
			
			case "editado":
				msg("sucesso","Vendedor(a) EDITADO(A) com sucesso!");
			break; 	
			
			default:
				msg("erro","Os dados NÃO foram alterados ainda. Por favor TENTE NOVAMENTE!");
			break; 					
		}
		
		if (data != ""){
			
			$.get('includes/Cadastros/incCadastrosVendedoresLista.php', function(data) {		    	
		        $('#conteudo').html(data);
		    });
		}
	}  
	
	$(document).ready( function() {
		
		$("#cpf").mask("999.999.999-99");
		$("#fone").mask("(99) 9999-9999");
		$("#cel").mask("(99) 9999-9999");
		$("#cep").mask("99999-999");

		msg("","");

		$.ui.dialog.defaults.bgiframe = true;
		
		$('#btEnviar').css("cursor","pointer").click(function() {

			// Fazendo as verificacoes
			var mens1 = "";
			if ($("#nome").val() == "" || $("#nome").val() == " ") mens1 += "<li>Nome</li>";

			if (mens1 != ""){
				// Definindo as mensagens de erro
				var mens = "Campos obrigatórios em branco:<br><ul>";
				mens += mens1 + "</ul>";
				msg("erro",mens);
			}
			else {
				// Se nao houverem erros, enviar os dados
				var params = { 
						acao  : "CADASTRO_ENVIAR",
						tipo  : 2,
						id    : $('#id').val(),
						oper  : {oper}
					};
				
				$('#cad').find("input[type='text'], input[type='hidden'],"+
						 "input[type='password'], input[type='submit'], option:selected,"+
						 "textarea").filter(":enabled").each(function(){
						 	params[ this.name || this.id || this.parentNode.name || this.parentNode.id ] = this.value;
						 });
		
				$('#cad').find("input[type='checkbox'], input[type='radio']").each(function(){
					if ($(this).is(":checked")) {
						params[ this.name ] = this.value;
					}
				});
				
				$.post("includes/incAcao.php", params,
					function(data){
						retorno(data);
					}
				);
			}
		})
		.hover(
			function(){ 
				$(this).addClass("ui-state-hover"); 
			},
			function(){ 
				$(this).removeClass("ui-state-hover"); 
			}
		).mousedown(function(){
			$(this).addClass("ui-state-active"); 
		})
		.mouseup(function(){
				$(this).removeClass("ui-state-active");
		});
	});
</script>
<p>
	Favor preencher corretamente o formulário abaixo.
</p>
<table id="cad" width="500" border="0" align="left" cellpadding="5" cellspacing="0">
  <tr>
    <td width="100" align="right">Nome</td>
    <td><input type="text" name="nome" id="nome" value="{nome}" size="30" class="forms" /></td>
  </tr>
   <tr>
    <td align="right">CPF</td>
    <td><input type="text" name="cpf" id="cpf" value="{cpf}" size="14" class="forms" /></td>
  </tr>  
  <tr>
    <td align="right">Endereço</td>
    <td>
    	<input type="text" name="endereco" id="endereco" value="{endereco}" size="30" class="forms" />
    	Número <input type="text" name="numero" id="numero" value="{numero}" size="5" class="forms" />
    </td>
  </tr>
  <tr>
    <td align="right">Complemento</td>
    <td><input type="text" name="complemento" id="complemento" value="{complemento}" size="30" class="forms" /></td>
  </tr>
   <tr>
    <td align="right">Bairro</td>
    <td><input type="text" name="bairro" id="bairro" value="{bairro}" size="30" class="forms" /></td>
  </tr> 
   <tr>
    <td align="right">Cidade</td>
    <td>
    	<input type="text" name="cidade" id="cidade" value="{cidade}" size="30" class="forms" /></td>
  </tr> 
   <tr>
    <td align="right">Estado</td>
    <td>

<!-- Vendedores_Formulario_Cadastro_UF_FIM -->      	
    </td>
  </tr> 
<!-- Vendedores_Formulario_Cadastro_FIM -->    
   <tr>
    <td align="right">CEP</td>
    <td><input type="text" name="cep" id="cep" value="{cep}" size="10" class="forms" /></td>
  </tr>    
   <tr>
    <td align="right">Telefone Fixo</td>
    <td><input type="text" name="fone" id="fone" value="{fone}" size="14" class="forms" /></td>
  </tr> 
   <tr>
    <td align="right">Telefone Celular</td>
    <td><input type="text" name="cel" id="cel" value="{cel}" size="14" class="forms" /></td>
  </tr>
   <tr>
    <td align="right">E-mail</td>
    <td><input type="text" name="email" id="email" value="{email}" size="30" class="forms" /></td>
  </tr> 
   <tr>
    <td align="right">Comissão por veículo</td>
    <td><input type="text" name="comissao_veiculo" id="comissao_veiculo" value="{comissao_veiculo}" size="10" class="forms" style="text-align:right" /></td>
  </tr>
  <tr>
    <td align="right">Salário</td>
    <td><input type="text" name="salario" id="salario" value="{salario}" size="10" class="forms" style="text-align:right"  /></td>
  </tr>
  <tr>
    <td align="right">
    	&nbsp;
    	<input type="hidden" name="id" id="id" value="{id}" />
    </td>
    <td><button id="btEnviar" class="ui-button ui-state-default ui-corner-all">ENVIAR</button></td>
  </tr>
</table>

<div id="aviso">
	<p class="msg"></p>
</div>