@font-face {
	font-family: 'Mont';
	src: url('../fonts/Mont-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Mont SemiBold';
	src: url('../fonts/Mont-SemiBold.ttf') format('truetype');
}

/*
* Altera o css dos inputs de error
*/
.error {
	color: #dc3545 !important;
}

input[type=button].error,
input[type=checkbox].error,
input[type=color].error,
input[type=date].error,
input[type=datetime-local].error,
input[type=email].error,
input[type=file].error,
input[type=hidden].error,
input[type=image].error,
input[type=month].error,
input[type=number].error,
input[type=password].error,
input[type=radio].error,
input[type=range].error,
input[type=reset].error,
input[type=search].error,
input[type=submit].error,
input[type=tel].error,
input[type=text].error,
input[type=time].error,
input[type=url].error,
input[type=week].error,
input[type=text].error,
textarea.error,
select.error,
select2-selection.error {
	border-color: #dc3545 !important;
	padding-right: calc(1.5em + 0.75rem) !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	background-position: right calc(0.375em + 0.1875rem) center !important;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

select2-selection.is-invalid {
	border-color: #dc3545 !important;
	padding-right: calc(1.5em + 0.75rem) !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	background-position: right calc(0.375em + 0.1875rem) center !important;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.select2-selection.select2-selection--single.is-invalid {
	border-color: #dc3545 !important;
	padding-right: calc(1.5em + 0.75rem) !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	background-position: right calc(0.375em + 0.1875rem) center !important;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.select2-selection.select2-selection--single.error {
	border-color: #dc3545 !important;
	padding-right: calc(1.5em + 0.75rem) !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	background-position: right calc(0.375em + 0.1875rem) center !important;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.select2-selection.select2-selection--single.valid {
	border-color: #28a745 !important;
	padding-right: calc(1.5em + .75rem) !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(.375em + .1875rem) center;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

label.error {
	font-size: 12px;
	margin-top: 0.25rem;
	color: #dc3545;
}

span.error {
	border-color: #dc3545 !important;
	padding-right: calc(1.5em + 0.75rem) !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	background-position: right calc(0.375em + 0.1875rem) center !important;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.is-invalid,
.was-validated .form-control:invalid {
	border-color: #dc3545 !important;
	padding-right: calc(1.5em + 0.75rem) !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	background-position: right calc(0.375em + 0.1875rem) center !important;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.input-group input[type="text"].error {
	border: 1px solid #dc3545 !important;
}

html {
	scroll-behavior: smooth
}

body {
	background-color: #EFF2F8 !important;
	font-family: 'Mont';
}

table {
	width: 100% !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.table thead tr th {
	color: #1C69AD !important;
	;
}

.menu-interno-link {
	padding-right: 20px;
}

.loadingMessage {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	/* background-color: rgba(255, 255, 255, 0.8); */
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}

#info-icon {
	color: gray;
	transition: color 0.3s;
}

#info-icon:hover {
	color: blue;
	cursor: pointer;
}

#errorMessage {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}

#errorMessage span {
	font-weight: bold;
}

#table,
#wrapper {
	border: none !important;
}

.ag-chart {
	min-height: 40vh;
}

.filtro {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
}

.filtro .input-container,
.input-container_ag {
	margin: 5px 0px;
}

.alert-light {
	background-color: #eff2f8;
}

.header-layout {
	border-bottom: 2px solid #e5e5e5;
	margin-top: 0.8rem
}

.bord {
	border-left: 3px solid #03A9F4;
}

.color-padrao {
	color: #5bc0de !important;
}

.div-img {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* Centraliza horizontalmente */
}

@media screen and (max-width: 768px) {
	#img {
		width: 100% !important;
	}
}

#img {
	display: block;
	/* Remove espaçamento extra em torno da imagem */
	margin: 0 auto;
	/* Centraliza horizontalmente usando margens automáticas */
}

#loading {
	display: none;
	z-index: 9999;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.58);
}

.loader {
	margin-top: 20%;
	margin-left: 45%;
	border: 16px solid #f3f3f3;
	/* Light grey */
	border-top: 16px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

.card {
	background-color: #fff;
	border-radius: 12px;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-conteudo {
	background-color: #fff;
	border-radius: 12px;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	min-height: 60px;
}

.text-title {
	margin-bottom: 30px;
}

.modal-xl {
	max-width: 1200px;
	width: 100%;
}

@media (max-width:450px) {
	.card-conteudo h3 {
		display: flex !important;
		flex-direction: column !important;
	}
}

.text-title h3,
h3.modal-title,
.card-conteudo h3 {
	color: #1C69AD !important;
	font-size: 22px !important;
	font-family: 'Mont SemiBold';
	display: flex;
	justify-content: space-between;
}

.modal-title {
	text-align: center;
}

.text-title h4,
.text-title h4 a {
	color: #7F7F7F !important;
	font-size: 16px !important;
	font-weight: inherit !important;
}

.card h4,
.card-conteudo h4,
h4.subtitle {
	font-family: 'Mont SemiBold';
	color: #1C69AD !important;
	font-size: 17px !important;
	font-weight: bold !important;
	padding: 10px 5px;
	margin-left: -5px;
}

.input-container label,
.input-container_ag label {
	color: #7F7F7F !important;
	font-size: 14px !important;
	font-weight: lighter !important;
}

.button-container {
	margin-top: 10px;
}

.btn {
	border-radius: 7px !important;
}

.btn-success {
	background-color: #28A745 !important;
}

.btn-success:hover {
	background-color: #28a746e7 !important;
}

.btn-primary {
	background-color: #007BFF !important;
}

.btn-primary:hover {
	background-color: #007bffcb !important;
}

.btn-danger {
	background-color: #ee3340 !important;
}

.btn-danger:hover {
	background-color: #ee333fcf !important;
}

.btn-light {
	background-color: #f8f9fa !important;
	box-shadow: none !important;
}

.btn-light:hover {
	background-color: #e2e6ea !important;
}

.label-info {
	background-color: #D4EDFE !important;
	color: #1C69AD;
	font-family: 'Mont SemiBold';
}

.modal-content {
	border-radius: 20px;
	gap: 25px;
}

.modal-body hr {
	display: block;
	width: 105%;
	margin-left: -30px;
}

#importarBlacklist hr {
	display: block;
	width: 100%;
	margin-left: -10px;
}

.select2-selection__rendered {
	line-height: 34px !important;
}

.select2-container .select2-selection--single {
	height: 34px !important;
}

.select2-selection__arrow {
	height: 34px !important;
}

.select2-selection__clear {
	height: 34px !important;
}

.select2-selection__choice {
	background-color: #f2f2f2 !important;
	color: #333 !important;
	border-radius: 4px !important;
}

.select2-selection__choice__remove {
	border: none !important;
}

.footer-group {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 8px 18px;
}

.footer-group-new {
	display: flex;
	justify-content: end;
	width: 100%;
	padding: 8px 0px;
}

.close {
	font-family: 'Mont SemiBold';
	border-radius: 25px;
	background-color: #e5e5e5 !important;
	width: 30px;
	height: 30px;
	color: #7F7F7F;
	font-size: 32px;
}

.menu-interno {
	padding: 0px;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.menu-interno h4 {
	margin-left: 30px;
}

.menu-interno ul {
	list-style-type: none;
	padding-left: 0px;
}

.menu-interno ul a {
	font-family: 'Mont SemiBold';
	padding-left: 30px;
	width: 100%;
	display: block;
	line-height: 40px;
	color: #1492E6 !important;
	cursor: pointer;
}

.menu-interno ul a.selected {
	background-color: #1C69AD !important;
	color: #fff !important;
}

.menu-interno ul a:hover {
	color: #fff !important;
	background-color: #348AD6 !important;
	text-decoration: none;
}

.badge-info {
	background-color: #3a87ad;
}

.badge-success {
	background-color: #468847;
}

.badge-warning {
	background-color: #f89406;
}

.badge-danger {
	background-color: #d9534f
}

.ag-menu {
	z-index: 1040;
}

#mapaPartida,
#mapaChegada {
	width: 100%;
	height: 30rem;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}

.switch .slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	top: 2px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
}

.switch input:checked+.slider {
	background-color: #2196F3;
}

.switch input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
	transform: translateX(18px);
}

/* Rounded sliders */
.switch .slider.round {
	border-radius: 34px;
}

.switch .slider.round:before {
	border-radius: 50%;
}
/*Checkbox-modal*/
.switch-modal{
	position: relative;
	display: inline-block;
	width: 35px;
}

.switch-modal input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch-modal .slider-modal {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}

.switch-modal .slider-modal:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	top: 2px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
}

.switch-modal input:checked+.slider-modal {
	background-color: #2196F3;
}

.switch-modal input:focus+.slider-modal {
	box-shadow: 0 0 1px #2196F3;
}

.switch-modal input:checked+.slider-modal:before {
	transform: translateX(18px);
}

.switch-modal .slider-modal.round-modal {
	border-radius: 34px;
}

.switch-modal .slider-modal.round-modal:before {
	border-radius: 50%;
}

.modal-footer-solicitacao {
	padding: 15px;
	text-align: left !important;
	border-top: 1px solid #e5e5e5;
}

#div-valor-produto{
	padding-top: 8px;
	margin-right: 32%;
}

.hiddenValor{
	display: none;
}


.tags-input {
	display: inline-block;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
	box-shadow: 2px 2px 5px #00000033;
	width: 100%;
}

.tags-input ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tags-input li {
	display: inline-block;
	background-color: #f2f2f2;
	color: #333;
	border-radius: 20px;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.tags-input input[type="email"] {
	border: none;
	outline: none;
	padding: 5px;
	font-size: 14px;
}

.tags-input input[type="email"]:focus {
	outline: none;
}

.tags-input .delete-button {
	background-color: transparent;
	border: none;
	color: #999;
	cursor: pointer;
	margin-left: 5px;
}

#input-tag {
	width: 100%;
}

#tags li {
	word-break: break-all;
}

select[readonly].select2-hidden-accessible+.select2-container {
	pointer-events: none;
	touch-action: none;
}

select[readonly].select2-hidden-accessible+.select2-container .select2-selection {
	background: #eee;
	box-shadow: none;
}

select[readonly].select2-hidden-accessible+.select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible+.select2-container .select2-selection__clear {
	display: none;
}


/* Mapas */

.item-popup-title {
	font-weight: 600;
}

.float-right {
	float: right !important;
}

.card-text-map span {
	font-size: 10px;
}

.list-group {
	max-height: none;
	overflow-y: auto;
	margin-bottom: 0px;
}

.list-group-item {
	border-width: 1px 0 1px 0 !important;
}

.leaflet-popup-content {
	margin: 0px !important;
}

.info-eventos-modal {
	border: 1px solid #ddd;
	padding: 8px;
	border-radius: .25em;
}

.ref-eventos-modal {
	padding-left: 0px;
	padding-top: 15px;
}

.lat-log-eventos-modal {
	padding-right: 0px;
	padding-top: 15px;
}

@media screen and (max-width: 991px) {
	.ref-eventos-modal {
		padding-right: 0px;
	}

	.lat-log-eventos-modal {
		padding-left: 0px;
	}
}

.actions-button-cell {
	overflow: visible !important;
}

.ag-row {
	z-index: 0 !important;
}

.ag-row.ag-row-focus {
	z-index: 1 !important;
}

/* personalizando a area do dropdown */
.dropdown-menu-acoes {
	width: 0px;
	border: 0px solid #fff !important;
	position: absolute;
	top: 165%;
	left: -146px;
	right: 0;

}

.dropdown-item-acoes:active {
	background-color: lightblue !important;
	color: black !important;
}

.dropdown-item-acoes {
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	text-align: start;
	border: 0;
	background-color: #fff;
	color: black !important;
	border: 5px !important;
	border-color: #1492E6 !important;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.modal {
		padding-right: 20px !important;
	}
}

.modal-body hr {
	margin-left: 0px !important;
	width: 100% !important;
}

.registrosDiv {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 300px) {
	.registrosDiv {
		flex-wrap: wrap;
	}
}
.ag-side-bar {
	overflow-x: hidden;
}

.btn-dropdown {
	background-color: #f8f9fa;
	color: #212529;
	border-color: #f8f9fa;
	border-radius: 0.2rem;
	box-shadow: none !important;
}

.btn-dropdown:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn-dropdown:focus {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, .5);
}

.dropdown-item-acoes:hover {
	color: #16181b;
	text-decoration: none;
	background-color: #e9ecef;
}

.opcao_importacao {
	height: 30px;
	border: 1px solid #ccc;
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-title {
	margin: 10px auto 10px auto;
	text-align: center;
}

.opcao_importacao:hover {
	background-color: #f0f0f0;
}

.opcoes_importacao {
	min-width: 200px;
	top: 62px;
	height: auto !important;
	padding: 0;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.dropdown-item-acoes>a {
	cursor: pointer;
	color: black;
	text-decoration: none !important;
	width: 100%;
	display: block;
}

.chart-plot-container {
	display: inline-flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	width: inherit;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.chart-plot {
	position: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	border-radius: 1rem;
	padding: 1rem;
	height: auto;
	width: 100%;
	max-width: 40rem;
	font-size: 5pt;
	background-color: #f8f9fb;
	color: #7F7F7F !important;
	text-align: center;
	font-weight: bold !important;
}

.chart-plot:hover {
	opacity: 0.8;
	transition: 180ms linear;
	border: 4px solid #0066ff;
}

@media (max-width: 1600px) {
	.chart-plot-container {
		flex-wrap: wrap;
	}
}

@media (max-width: 1220px) {
	.chart-plot-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.chart-plot {
		max-width: 60rem;
	}
}

.statusEvento {
	display: flex;
	justify-content: flex-start;
}

.formEvento {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.labels {
	display: block;
	margin-bottom: 5px;
}

.status-primary {
	color: #fff;
	background-color: #007bff
}

.status-secondary {
	color: #fff;
	background-color: #6c757d;
}

.status-dark {
	color: #fff !important;
	background-color: #343a40 !important;
}

.dropdown-menu {
	z-index: 999;
}

.modal-dialog-centered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
	display: block;
	height: calc(100vh - 1rem);
	content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
	max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
	content: none;
}

.select2-container .select2-search--inline .select2-search__field {
	vertical-align: middle !important;
}

.mr-3,
.mx-3 {
	margin-right: 1rem !important;
}

/* Estilização do input-group */
/* Estilização do input-group */
.input-group input[type="text"].error {
	border: 1px solid #dc3545 !important;
}

.input-group input[type="text"],
.input-group .form-control {
	border: 1px solid #ccc !important;
	padding-left: 10px !important;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	line-height: normal;
	top: -0.7px;
}

.input-group {
	margin-bottom: 0px !important;
}

.dropdown-menu-right {
	right: 50px !important;
}

/* Fim da estilizacao do input-group */

.success {
	color: #155724 !important;
}

.warning {
	color: #FF9505 !important;
}

.error {
	color: #F50D0D !important;
}

.truncade {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.dropdown-exportar {
	border: 1px solid transparent !important;
	border-radius: 5px !important;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
	top: 111px;
}

.item-exportar:focus,
.item-exportar:hover {
	color: #16181b;
	text-decoration: none;
	background-color: #e9ecef;
}

.dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
}

.mr-0 {
	margin-right: 0px !important;
}

.mr-1 {
	margin-right: 10px !important;
}

.mr-2 {
	margin-right: 20px !important;
}

.mr-3 {
	margin-right: 30px !important;
}

.ml-0 {
	margin-left: 0px !important;
}

.ml-1 {
	margin-left: 10px !important;
}

.ml-2 {
	margin-left: 20px !important;
}

.ml-3 {
	margin-left: 30px !important;
}

.mt-0 {
	margin-top: 0px !important;
}

.mt-1 {
	margin-top: 10px !important;
}

.mt-2 {
	margin-top: 20px !important;
}

.mt-3 {
	margin-top: 30px !important;
}

.mb-0 {
	margin-bottom: 0px !important;
}

.mb-1 {
	margin-bottom: 10px !important;
}

.mb-2 {
	margin-bottom: 20px !important;
}

.mb-3 {
	margin-bottom: 30px !important;
}

.pr-0 {
	padding-right: 0px !important;
}

.pr-1 {
	padding-right: 10px !important;
}

.pr-2 {
	padding-right: 20px !important;
}

.pr-3 {
	padding-right: 30px !important;
}

.pl-0 {
	padding-left: 0px !important;
}

.pl-1 {
	padding-left: 10px !important;
}

.pl-2 {
	padding-left: 20px !important;
}

.pl-3 {
	padding-left: 30px !important;
}

.link-desabled {
	pointer-events: none;
	cursor: default;
}

.link-upload-valid {
	color: #348AD6;
	max-width: 350px;
	cursor: pointer;
}


#overlay {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

#overlay-mensagem {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 22px;
	color: #FFFFFF;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.item-menu-acoes-grid {
	cursor: pointer;
	text-decoration: none !important;
	width: 100%;
	display: block;
}

fieldset {
	padding: 10px !important;
	border: 1px solid rgba(0, 0, 0, .1) !important;
	border-radius: 5px;
}

fieldset.scheduler-border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000 !important;
	box-shadow: 0px 0px 0px 0px #000 !important;
	background-color: gray;
	color: white;
	padding: 5px 10px;
}

legend {
	width: auto !important;
	margin-bottom: 0px !important;
	border-bottom: none;
	color: #1C69AD !important;
	font-size: 17px !important;
}

legend.scheduler-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
}

.leganda-label {
	color: #a9a9a9 !important;
	font-size: 15px !important;
	line-height: 1.2 !important;
	margin-top: 8px !important;
	transition-duration: 1s !important;
}

.card-titulo-portal {
	color: #1C69AD;
	margin: 0px;
	font-size: 24px;
	word-break: break-all;
}

.btn-filtro {
	width: 100%;
	border: 0;
	border-radius: 3px;
	padding: 8px;
}

.invalid-feedback {
	display: none;
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #dc3545;
}

.btn-success:focus {
	color: #fff;
	background-color: #218838 !important;
	border-color: #1e7e34 !important;
	box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5) !important;
}

.titulo-campo {
	font-family: 'Mont SemiBold';
	color: #68686e !important;
	font-size: 15px !important;
	font-weight: bold !important;
}

.resposta-campo {
	font-family: 'Mont';
	color: #888888 !important;
	font-weight: normal !important;
}

.timeline-steps {
	display: inline-flex;
}

.timeline-steps .timeline-step {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 1rem;
}


.timeline-steps .timeline-step:not(:last-child):after {
	display: block;
	border-top: .25rem dotted #6ff16f;
	width: 2px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: calc(100% - 2rem);
}

.timeline-steps .timeline-step:not(:first-child):after {
	display: block;
	border-top: .25rem dotted #6ff16f;
	width: 2rem;
	content: '';
	position: absolute;
	left: -1px;
	top: 50%;
	transform: translate(-50%);
	height: calc(100% - 2rem);
}


.timeline-steps .timeline-content {
	text-align: center
}

.timeline-steps .timeline-content .inner-circle {
	border-radius: 26px;
	height: 13px;
	width: 13px;
	margin: 0 10px;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #6ff16f
}

.timeline-steps .timeline-content .inner-circle-modal {
	border-radius: 26px;
	height: 25px;
	width: 25px;
	margin: 0 10px;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #6ff16f
}

.solicitacaoApravado {
	background-color: #6ff16f !important;
}

.solicitacaoReprovado {
	background-color: #e08282 !important;
}

.solicitacaoAguardando {
	background-color: #a9a9a9 !important;
}

.solicitacaoApravado-modal {
	background-color: #6ff16f !important;
	color: #6ff16f !important;
}

.solicitacaoReprovado-modal {
	background-color: #e08282 !important;
	color: #e08282 !important;
}

#solicitacaoAprovado-modal-aprovacao {
	color: #6ff16f !important;
}

#solicitacaoReprovado-modal-aprovacao {
	color: #e08282 !important;
}

.solicitacaoAguardando-modal {
	background-color: #a9a9a9 !important;
}

/*Modal-Aprovações*/

.steps-modal-aprovacao {
	display: flex;
	justify-content: center;
}

ul.steps-aprovacao {
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

.steps-aprovacao li {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 2em;
	padding: 0 25px;
	list-style: none;
	min-width: 170px;
}

.data-modal-situacao,
.resultado-modal {
	display: block;
	text-align: center;
	margin-bottom: 1em;
	color: black;
	opacity: 0.3;
}

.aprovador-modal {
	display: block;
	text-align: center;
	margin-bottom: 1em;
	color: #1C69AD;
	font-family: 'Mont SemiBold';
}

.timeline-content {
	position: relative;
}

.conexao-circulo-modal {
	position: absolute;
	border-bottom: dotted 3px black;
	width: 62px;
	top: 12px;
	opacity: 0.3;
}

.conexao-circulo {
	position: absolute;
	border-bottom: solid 2px black;
	left: 26px;
	width: 7px;
	top: 19px;
	opacity: 0.3;
}

.data-modal-aprovacao {
	margin-bottom: 15px;
}

.informativo_shownet {
	color: #1C69AD;
	cursor: pointer;
	font-size: 14px;
}

.informacacao-tipo-especie {
	display: inline-block;
	position: relative;
	margin-left: 5px;
}

.pop-informativo_shownet {
	visibility: hidden;
	width: 250px;
	z-index: 99999999999999;
	background-color: white;
	color: #727171;
	text-align: left;
	font-size: 12px;
	border-radius: 8px;
	left: 50%;
	transform: translateX(-50%);
	padding: 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 135%;
	opacity: 1;
	transition: opacity 0.5s;
}

.pop-informativo_shownet::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: white transparent transparent transparent;
}

.pop-informativo_shownet u{
	color: #000000 !important;
}

@media screen and (max-width:768px) {
	.steps-modal-aprovacao {
		display: flex;
		flex-direction: column;
	}

	.form-diretores-centro-custo{
		display: flex;
		flex-direction: column
	}
}